@font-face {
    font-family: 'NotoSansKR-Regular';
    font-weight: normal;
    font-display: swap;
    src: url('./assets/fonts/NotoSansKR-REgular.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSansKR-Medium';
    font-weight: normal;
    font-display: swap;
    src: url('./assets/fonts/NotoSansKR-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSansKR-Black';
    font-weight: 600;
    font-display: swap;
    src: url('./assets/fonts/NotoSansKR-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSansKR-Bold';
    font-weight: 800;
    font-display: swap;
    src: url('./assets/fonts/NotoSansKR-Bold.ttf') format('truetype');
}

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'NotoSansKR-Regular';
    font-size: 18px;
}

html {
    scroll-behavior: smooth;
}